[bed_mesh]
speed: 150
horizontal_move_z: 10
#mesh_min: 20,35
#mesh_max: 235,210
#probe_count: 7,6
mesh_min: 25,35.0
mesh_max: 225.0,220
probe_count: 6,6
#mesh_min: 15,25
#mesh_max: 230,235
#probe_count: 5,5
#mesh_min: 6,25
#mesh_max: 244,215
#probe_count: 120,96
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
#sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
#control = pid
#pid_kp = 60.695
#pid_ki = 1.073
#pid_kd = 858.069
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 180
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 120
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 15
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.