#####################################################################
# 	Bed Screw Adjust
#####################################################################

[screws_tilt_adjust]
screw1: 125,130
#   The X,Y coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to that is directly above the bed
#   screw (or as close as possible while still being above the bed).
#   This is the base screw used in calculations. This parameter must
#   be provided.
screw1_name: center
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
screw2: 15,25
screw2_name: FL
screw3: 125,25
screw3_name: FC
screw4: 230,25
screw4_name: FR
screw5: 230,130
screw5_name: CR
screw6: 230,235
screw6_name: RR
screw7: 125,235
screw7_name: RC
screw8: 15,235
screw8_name: RL
screw9: 15,130
screw9_name: CL
#   Additional bed leveling screws. At least two screws must be
#   defined.
speed: 100
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 10
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
screw_thread: CW-M3
#   The type of screw used for bed level, M3, M4 or M5 and the
#   direction of the knob used to level the bed, clockwise decrease
#   counter-clockwise decrease.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3, most printers use an M3 screw and
#   turning the knob clockwise decrease distance.

[gcode_macro check_screws]
gcode:
    SET_VELOCITY_LIMIT ACCEL=500
    SCREWS_TILT_CALCULATE method=manual
    TESTZ Z=-9.9

[gcode_macro MMBL_ACCEPT]
gcode:
    ACCEPT
    TESTZ Z=-9.9

[gcode_macro MMBL_ABORT]
gcode:
    ABORT

[gcode_macro MMBL_Zminus05]
gcode: 
    TESTZ Z=-0.5

[gcode_macro MMBL_Zminus01]
gcode: 
    TESTZ Z=-0.1

[gcode_macro MMBL_Zminus005]
gcode: 
    TESTZ Z=-0.05

[gcode_macro MMBL_Zminus001]
gcode: 
    TESTZ Z=-0.01

[gcode_macro MMBL_Zplus05]
gcode: 
    TESTZ Z=0.5

[gcode_macro MMBL_Zplus01]
gcode: 
    TESTZ Z=0.1

[gcode_macro MMBL_Zplus005]
gcode: 
    TESTZ Z=0.05

[gcode_macro MMBL_Zplus001]
gcode: 
    TESTZ Z=0.01

[gcode_macro MMBL_SAVE_CONFIG]
gcode: 
    SAVE_CONFIG